<div class="row">
  <div class="col-md-10 offset-md-1">
    <div class="row align-items-end">
      <div class="col-xl-8 padding-top-180">
        <div class="row">
          <div class="col-12 col-md-12 col-xl-12 pt-5 pt-md-0">
            <span class="heading-1">Simplified</span> <br />
            <span class="heading-2">Healthy Living</span>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-6 pb-5 pb-md-0 pd-xl-0">
            <span class="heading-3"> Shop</span>
            <p class="p1">A new experience <br />in ethical living</p>
            <button class="btn">NEW ARRIVALS</button>
          </div>
          <div class="col-xl-6">
            <span class="heading-3"> Discover</span>
            <p class="p1">
              Our perspective for ethical <br />sourcing, and trusted brands
            </p>
            <a class="btn btn-outline" routerLink="/" [queryParams]="{m: 'signup'}">SIGN UP</a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 horizontal-padding d-md-block d-sm-none d-none">
        <img
          src="../../../../../assets/img/home/title-image.png"
          height="100%"
          width="100%"
        />
      </div>
    </div>
    <div
      class="row padding-top-100 padding-bottom-100 d-md-block d-sm-none d-none"
    >
      <div class="col-xl-12"><hr class="horizontal-line" /></div>
    </div>
    <div class="row">
      <div class="col-xl-12">
        <!-- Carousel Begin -->
        <div
          id="demo"
          class="carousel slide d-none d-sm-none d-md-block d-xl-block"
          data-interval="false"
        >
          <div class="row">
            <div class="col-md-8">
              <!-- Indicators -->
              <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
                <li data-target="#demo" data-slide-to="3"></li>
                <li data-target="#demo" data-slide-to="4"></li>
              </ul>

              <!-- The slideshow -->
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img
                    src="../../../../../assets/img/home/values.png"
                    alt="Values"
                    height="100%"
                    width="100%"
                  />
                  <div class="carousel-caption d-none d-md-block">
                    <div class="row align-items-center">
                      <div class="col-md-12">
                        <p class="heading-6">Explore our</p>
                      </div>
                      <div class="col-md-12">
                        <p class="heading-7">Values</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <img
                    src="../../../../../assets/img/home/animal.png"
                    alt="Animal Right"
                    height="100%"
                    width="100%"
                  />
                  <div class="carousel-caption d-none d-md-block">
                    <div class="row align-items-center">
                      <div class="col-sm-3 col-md-3 col-xl-3">
                        <p class="heading-6">Animal</p>
                        <p class="heading-7">Rights</p>
                      </div>
                      <div class="col-sm-9 col-md-9 col-xl-9">
                        <p class="p1">
                          We wholeheartedly believe that every animal deserves
                          to be valued and respected. Actively seeking to add
                          the best brands that represent these views.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <img
                    src="../../../../../assets/img/home/free.png"
                    alt="Free From"
                    height="100%"
                    width="100%"
                  />
                  <div class="carousel-caption d-none d-md-block">
                    <div class="row align-items-center">
                      <div class="col-sm-3 col-md-3 col-xl-3">
                        <p class="heading-6">Free</p>
                        <p class="heading-7">From</p>
                      </div>
                      <div class="col-sm-9 col-md-9 col-xl-9">
                        <p class="p1">
                          We believe health goals differ from person to person.
                          We believe that everyone should have the ability to
                          adapt their diets based on individual needs.
                          Highquality products accessible to everyone, no
                          compromises. That's Sweetblu.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <img
                    src="../../../../../assets/img/home/human.png"
                    alt="Free From"
                    height="100%"
                    width="100%"
                  />
                  <div class="carousel-caption d-none d-md-block">
                    <div class="row align-items-center">
                      <div class="col-sm-3 col-md-3 col-xl-3">
                        <p class="heading-6">Human</p>
                        <p class="heading-7">Values</p>
                      </div>
                      <div class="col-sm-9 col-md-9 col-xl-9">
                        <p class="p1">
                          We believe in increasing awareness towards
                          sustainable, fair wages on commercial products. We
                          will transparently represent values/ certiﬁcations on
                          goods sold on our site and actively seek to add more
                          brands that reflect these views.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <img
                    src="../../../../../assets/img/home/organic.png"
                    alt="Organic"
                    height="100%"
                    width="100%"
                  />
                  <div class="carousel-caption d-none d-md-block">
                    <div class="row align-items-center">
                      <div class="col-sm-3 col-md-3 col-xl-3">
                        <!-- <p class="heading-1">Human</p> -->
                        <p class="heading-7">Organic</p>
                      </div>
                      <div class="col-sm-9 col-md-9 col-xl-9">
                        <p class="p1">
                          We believe in honesty and transparency, that's why we
                          purely carry products that were validated through a
                          certiﬁcation body such as the Soil Association in the
                          UK, the European Union or the US Department of
                          Agriculture are considered organic.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Carousel Ends -->
          </div>
        </div>
        <div class="row padding-top-100 horizontal-padding">
          <div class="col-md-10 offset-md-1">
            <div class="row">
              <div class="col-md-6">
                <div class="padding-bottom-30">
                  <p class="heading-4">Love the <br />way you shop</p>
                  <p class="p3">
                    A personalize transparent new way <br />
                    to begin to living healthy.
                  </p>
                  <a href="/about" class="learn-more-link">Learn more ></a>
                </div>
              </div>
              <div class="col-xl-6">
                <div class="row">
                  <div class="col-6 col-sm-6 col-md-6 col-xl-6 mobile-img-div">
                    <img
                      src="/assets/img/home/optimized/phone-1.png"
                      class="mobile-image"
                    />
                  </div>
                  <div class="col-6 col-sm-6 col-md-6 col-xl-6 mobile-img-div">
                    <img
                      src="/assets/img/home/optimized/phone-2.png"
                      class="mobile-image"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <app-signup-banner
                text="start shopping"
                link="/register"
              ></app-signup-banner>
            </div>
            <div class="col-md-4"></div>
          </div>
        -->

        <div class="row padding-top-100 horizontal-padding">
          <div class="col-md-10 offset-md-1">
            <div class="row align-items-center h-100">
              <div
                class="col-xl-5 padding-bottom-30 pr-lg-4 d-md-table-cell d-xl-table-cell"
              >
                <p class="heading-5">The products <br />you love and trust</p>
                <p class="p1">
                  The brands that work for you,<br />
                  in a complete package
                </p>

                <div class="">
                  <a href="/about" class="learn-more-link">Learn more ></a>
                </div>
              </div>
              <div
                class="col-xl-6 privacy d-md-table-cell d-xl-table-cell"
              ></div>
            </div>
          </div>
        </div>
        <div class="row padding-top-100 horizontal-padding">
          <div class="col-md-10 offset-md-1">
            <div class="row align-items-center h-100">
              <div class="col-xl-5 padding-bottom-30 pr-lg-4">
                <p class="heading-5">Offered with <br />transparency</p>
                <p class="p1">
                  No compromises, only trusted <br />
                  brands. With transparent pricing
                </p>
                <div class="">
                  <a href="/about" class="learn-more-link">Learn more ></a>
                </div>
              </div>
              <div class="col-xl-6 cookies"></div>
            </div>
          </div>
        </div>
        <div class="row padding-top-100 padding-bottom-100 horizontal-padding">
          <div class="col-md-10 offset-md-1">
            <div class="row align-items-center h-100">
              <div class="col-xl-5 padding-bottom-30 pr-lg-4">
                <p class="heading-5">Because we share <br />your values</p>
                <p class="p1">
                  We are commited to ethical, <br />sustainable values, its our
                  passion
                </p>

                <div class="">
                  <a href="/about" class="learn-more-link">Learn more ></a>
                </div>
              </div>
              <div class="col-xl-6 terms"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-login-signup-modal-wrapper></app-login-signup-modal-wrapper>
  </div>
</div>
