<div class="container padding-top-30 pt-5">
  <div class="row">
    <div class="col-sm-4 offset-sm-4 pb-5 pt-4 mb-4 form-forgotpassword">
      <!--Forgot Password form-->
      <form [formGroup]="forgotpasswordForm" (ngSubmit)=onForgotPasswordSubmit()>
        <div class="row">
          <div class="col-sm-12 text-center">
            <p class="font-30 bold">Reset your password</p>
            <p class="font-16">If you remember you password <a routerLink="/" [queryParams]="{m:'signin'}"> Sign in</a></p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="email" class="font-16 form-label">Email*</label>
              <input type="email" class="form-control" id="email" formControlName="email" [ngClass]="getCssClasses('email')">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 padding-top-15">
            <button type="submit" class="btn btn-block btn-secondary btn-circle font-16" [disabled]="!forgotpasswordForm.valid">Send
              Code</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>