<div class="row">
  <div class="col-md-10 offset-md-1">
    <div class="row align-items-end">
      <div class="col-xl-8">
        <div class="row horizontal-padding">
          <div class="col-12 col-md-12 col-xl-12 pt-5 pt-md-0">
            <span class="heading-1">We believe in making</span> <br />
            <span class="heading-2"
              >Healthy <br />
              Living Accessible</span
            >
          </div>
        </div>
      </div>
      <div class="col-xl-4 horizontal-padding d-md-block d-sm-none d-none">
        <img
          src="../../../../../assets/img/home/title-image.png"
          height="100%"
          width="100%"
        />
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 offset-md-3 div-rect">
        <div class="row h-100">
          <div class="col-md-12 pt-3">
            <p class="heading-3">
              Simple yet powerful solutions <br />
              Ethically Transparently
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div
        class="col-md-8 offset-md-2 pt-5 pt-md-5 pt-sm-5 pt-xl-5 pb-5 pb-md-5 pb-sm-5 pb-xl-5"
      >
        <p class="heading-4">
          At Sweetblu, we believe in intuitive design and a convenient shopping
          experience. Decyphering the small print and allowing everyone to have
          a simple journey to health and wellness. That’s why we partner with
          the best, and only carrying ethical, trusted brands. Sourcing only the
          best products without compromising on choice. Shopping reinvented for
          healthy living, sharing your values and including transparency product
          cost to build a strong foundation with our consumers
        </p>
      </div>
    </div>
    <div class="row">
      <div
        class="col-md-10 offset-md-1 pt-5 pt-md-5 pt-sm-5 pt-xl-5 pb-5 pb-md-5 pb-sm-5 pb-xl-5"
      >
        <div class="row align-items-center">
          <div class="col-md-6 p-5">
            <p class="heading-7">LOVE THE WAY YOU SHOP</p>
            <p class="heading-6">
              A Relevant <br />
              Experience
            </p>
            <p class="heading-4 align-justify">
              We believe that there is always a better way. Your health choices
              shouldn't be deﬁned by what sells more. We understand that each
              individual person is diﬀerent and so are their health needs.
              Through intelligent design and health preferences, we have
              developed a store that is tailored and relevant to you. We spend
              months ﬁnding the best way to deliver a simple yet powerful
              experience and we continue to concentrate on further developing a
              healthier future for everyone.
            </p>
          </div>
          <div class="col-md-6 p-5">
            <img src="/assets/img/home/may-like.png" class="width-100" />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div
        class="col-md-10 offset-md-1 pt-5 pt-md-5 pt-sm-5 pt-xl-5 pb-5 pb-md-5 pb-sm-5 pb-xl-5"
      >
        <div class="row align-items-center">
          <div class="col-md-6 p-5">
            <img src="/assets/img/home/ethical.png" class="width-100" />
          </div>
          <div class="col-md-6 p-5">
            <p class="heading-7">WE SHARE YOUR VALUES</p>
            <p class="heading-6">
              Ethical <br />
              Wellness
            </p>
            <p class="heading-4 align-justify">
              At Sweetblu, our products are more than just goods. Each brand on
              our store has a story and a message. We believe in clearly
              conveying our stories with love. At the same time, we take
              corporate integrity seriously, and we sincerely believe in the
              products we oﬀer, diligently ﬁltering reliable brands and look for
              corporate interests to provide our consumers with accurate
              information, eﬃciently.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div
        class="col-md-10 offset-md-1 pt-5 pt-md-5 pt-sm-5 pt-xl-5 pb-5 pb-md-5 pb-sm-5 pb-xl-5"
      >
        <div class="row">
          <div class="col-md-12"><p class="heading-6">Cost breakdown</p></div>
          <div class="col-md-12">
            <img src="/assets/img/home/cost-breakdown.png" class="width-100" />
          </div>
        </div>
      </div>
      <div class="row">
        <div
          class="col-md-6 offset-md-3 pt-5 pt-md-5 pt-sm-5 pt-xl-5 pb-5 pb-md-5 pb-sm-5 pb-xl-5"
        >
          <div class="row">
            <div class="col-md-12">
              <p class="heading-7 align-center">OFFERED WITH TRANSPARENCY</p>
            </div>
            <div class="col-md-12">
              <p class="heading-6 align-center">
                Wholly <br />
                Transparent
              </p>
            </div>
            <div class="col-md-12">
              <p class="heading-4">
                We believe that our customers should know how much our operating
                cost is. We explain the costs behind our products from—overhead
                to shipping to labor— in an eﬀort to support transparency in an
                industry that should have your wellbeing at interest and not
                just proﬁts
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <app-signup-banner
            text="start shopping"
            link="/register"
          ></app-signup-banner>
        </div>
        <div class="col-md-4"></div>
      </div>
    -->
  </div>
</div>
