<div class="row mission white">
  <div class="col-sm-12">

    <div id="demo" class="carousel slide" data-ride="carousel">

      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
      </ul>

      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="divparent">
            <div class="row">
              <div class="col-sm-12  pt-5">
                <div class="row pl-3 pl-md-5">
                  <div class="container"></div>
                  <div class="col-sm-12 f38 pt-1 pt-md-5 mt-5"> Looking to write about us? </div>
                  <div class="col-sm-12"><a href="#" class="link-bordered">Get in touch</a></div>
                  <div class="col-sm-12 f38 mt-5"> Looking for help with a project? </div>
                  <div class="col-sm-12"><a href="#" class="link-bordered">Let us a bit more</a></div>
                  <div class="col-sm-12 f38 mt-5"> hello@sweetblu.com </div>
                  <div class="col-sm-12 f38 mt-5"> Waterloo, Canada </div>
                  <div class="col-sm-12"><a href="#" class="link-bordered">I’m looking to join the team</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="divparent">
              <div class="c2-title">Mission Statement</div>
              <div class="row">
              <div class="col-12 col-sm-10 pt-5">
                <div class="heading-main m-3 mt-5 m-md-5 p-5">
                  Facilitating simplified health solutions for everyone.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>