<div class="row">
  <div class="col-md-10 offset-md-1">
    <div class="row align-items-center">
      <div class="col-xl-8"><span class="heading-2">Cookie Policy</span></div>
      <div class="col-xl-4 horizontal-padding d-md-block d-sm-none d-none">
        <img
          src="../../../../../assets/img/home/title-image.png"
          height="100%"
          width="100%"
        />
      </div>
      <div class="row pt-xsl-5">
        <div class="col-8 col-md-8 col-xl-8 pt-5 pt-md-0">
          <div class="col-10 col-md-10 col-xl-10 padding-top-15">
            <p class="ques">WHAT ARE COOKIES</p>
            <p class="ans">
              As is common practice with almost all professional websites this
              site uses cookies, which are tiny files that are downloaded to
              your computer, to improve your experience. Intent of using cookies
              is to better your experience and not to gain information on you.
            </p>

            <p class="ques">HOW WE USE COOKIES</p>
            <p class="ans">
              We use cookies for a variety of reasons. Unfortunately in most
              cases there are no industry standard options for disabling cookies
              without completely disabling the functionality and features they
              add to this site. It is recommended that you leave on all cookies
              if you are not sure whether you need them or not in case they are
              used to provide a service that you use.
            </p>

            <p class="ques">DISABLING COOKIES</p>

            <p class="ans">
              You can prevent the setting of cookies by adjusting the settings
              on your browser. Be aware that disabling cookies will affect the
              functionality of this and many other websites that you visit.
              Disabling cookies will usually result in also disabling certain
              functionality and features of the this site. Therefore it is
              recommended that you do not disable cookies.
            </p>

            <p class="ques">THE COOKIES WE SET</p>
            <p class="ans">
              (i) Email newsletters related cookies This site offers newsletter
              or email subscription services and cookies may be used to remember
              if you are already registered and whether to show certain
              notifications which might only be valid to subscribed/unsubscribed
              users.<br /><br />

              (ii) Orders processing related cookies This site offers e-commerce
              or payment facilities and some cookies are essential to ensure
              that your order is remembered between pages so that we can process
              it properly.
            </p>

            <p class="ques">THIRD PARTY COOKIES</p>
            <p class="ans">
              In some special cases we may use cookies provided by trusted third
              parties. The following section details which third party cookies
              you might encounter through this site.<br /><br />
              (i) This site uses Google Analytics which is one of the most
              widespread and trusted analytics solution on the web for helping
              us to understand how you use the site and ways that we can improve
              your experience. These cookies may track things such as how long
              you spend on the site and the pages that you visit so we can
              continue to produce engaging content.<br /><br />
              For more information on Google Analytics cookies, see the official
              Google Analytics page.<br /><br />
              (ii) From time to time we test new features and make subtle
              changes to the way that the site is delivered. When we are still
              testing new features these cookies may be used to ensure that you
              receive a consistent experience whilst on the site whilst ensuring
              we understand which optimisations our users appreciate the
              most.<br />
              (iii) We also use social media buttons and/or plugins on this site
              that allow you to connect with your social network in various
              ways.
            </p>
            <p class="ans">
              For any further questions, email help@sweetblu.com
            </p>
            <p class="align-right padding-top-30">
              <span class="heading-8">The Sweetblu Team</span><br />
              <span class="heading-9">November 2018</span>
            </p>
          </div>
        </div>
        <div class="col-xl-4 horizontal-padding d-md-block padding-top-15">
          <app-terms-nav activeCookies="active"></app-terms-nav>
        </div>
      </div>
    </div>
  </div>
  <!--
    <div class="row footer container-fluid p5 padding-top-30">
      <div class="pad-text">
        <app-signup-banner
          text="start shopping"
          link="/register"
        ></app-signup-banner>
      </div>
    </div>
  -->
</div>
