<div class="row">
  <div class="col-md-10 offset-md-1">
    <div class="row align-items-center">
      <div class="col-xl-8"><span class="heading-2">Privacy Policy</span></div>
      <div class="col-xl-4 horizontal-padding d-md-block d-sm-none d-none">
        <img
          src="../../../../../assets/img/home/title-image.png"
          height="100%"
          width="100%"
        />
      </div>
    </div>
    <div class="row pt-md-5">
      <div class="col-8 col-md-8 col-xl-8 pt-5 pt-md-0">
        <div class="col-10 col-md-10 col-xl-10 padding-top-15">
          <p class="heading-10">WE RESPECT YOUR INFORMATION</p>
          <p class="p1">
            Sweetblu’s privacy policy is to respect your privacy regarding any
            information we may collect from you across our website,
            www.sweetblu.com, and other sites we own and operate.
          </p>
          <p class="p1">
            We only ask for personal information when we truly need it, in order
            continue to function as a business. We only collect it by fair and
            lawful means, with your knowledge and consent.We only retain
            collected information for as long as necessary to provide you with
            your requested service. What data we store, we’ll protect within
            commercially acceptable means to prevent loss and theft, as well as
            unauthorised access, disclosure, copying, use or modification. We
            don’t share any personally identifying information publicly or with
            any third-parties. Our website may link to external sites that are
            not operated by us. Please be aware that we have no control over the
            content and practices of these sites, and cannot accept
            responsibility or liability for their respective privacy policies.
            You are free to refuse our request for your personal information,
            with the understanding that we may be unable to provide you with
            some of your desired services. Your continued use of our website
            will be regarded as acceptance of our practices around privacy and
            personal information.
          </p>
          <p class="align-right padding-top-30">
            <span class="heading-8">The Sweetblu Team</span><br />
            <span class="heading-9">November 2018</span>
          </p>
        </div>
      </div>
      <div class="col-xl-4 horizontal-padding d-md-block padding-top-15">
        <app-terms-nav activePrivacy="active"></app-terms-nav>
      </div>
    </div>
  </div>
  <!--
    <div class="row footer container-fluid p-5 padding-top-30">
      <div class="pad-text">
        <app-signup-banner
          text="start shopping"
          link="/register"
        ></app-signup-banner>
      </div>
    </div>
  -->
</div>
