<div class="container padding-top-30 pt-5">
  <div class="row">
    <div class="col-sm-4 offset-sm-4 pb-5 pt-4 mb-4 form-resetpassword">
      <!--Forgot Password form-->
      <form [formGroup]="resetpasswordForm" (ngSubmit)=onResetPasswordSubmit()>
        <div class="row">
          <div class="col-sm-12 text-center">
            <p class="font-30 bold">Reset your password</p>
            <p class="font-16">If you remember you password <a routerLink="/" [queryParams]="{m:'signin'}"> Sign in</a></p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="password" class="font-16 form-label">New Password*</label>
              <input type="password" class="form-control" id="password" formControlName="password" [ngClass]="getCssClasses('password')">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 padding-top-15">
            <button type="submit" class="btn btn-block btn-secondary btn-circle font-16" [disabled]="!resetpasswordForm.valid">Reset</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>